<p id="notice"><%= notice %></p>

<p>
  <h2><%= @physician.name %><h2>
</p>

<p>
  <h3>Specialty: <%= @physician.specialty %></h3>
</p>

<hr>

<h3>Offices</h3>

<table class="ts">
  <tr>
    <th>Street Address</th>
    <th>Zip Code</th>
    <th>Phone</th>
  </tr>
  <% @physician.offices.each do |o|%>
    <tr>
      <td><%= o.street_address %></td>
      <td><%= o.zip %></td>
      <td><%= o.phone %></td>
    </tr>
  <% end %>
</table>

<h3>Current Appointments</h3>

<table class="ts">
  <tr>
    <th>Patient Name</th>
    <th>Date of Appointment</th>
  </tr>
  <% @physician.appointments.each do |a|%>
    <tr>
      <td><%= a.patient.name %></td>
      <td><%= a.visit.to_formatted_s(:long_ordinal) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
